{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Gestión de Pólizas</h1>

<div class="row row-cards">
    <div class="col-md-4">
        <a href="{% url 'client-list' %}" class="card card-link">
            <div class="card-body text-center">
                <h3>Clientes</h3>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'policy-list' %}" class="card card-link">
            <div class="card-body text-center">
                <h3>Pólizas</h3>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'policy-type-list' %}" class="card card-link">
            <div class="card-body text-center">
                <h3>Tipos de Póliza</h3>
            </div>
        </a>
    </div>
</div>
{% endblock %}